@{
    Layout = "~/Views/Shared/_ProviderDashBoard.cshtml";
    
}


<div class="bg-body-secondary">
    <div class="container d-flex justify-content-between text-center align-items-center my-3 bg-body-secondary">
        <h3 class="text-body fw-semibold" id="text">Timesheet</h3>
        <a asp-action="ProviderDashBoard" class="btn btn-outline-info"> ❮  Back </a>
    </div>


    <div class="container w-75 mt-3 white-bag shadow p-3" id="TopDiv">
        <div class="d-flex justify-content-between">


            <select class="form-select py-3 w-25" onchange="LoadPageData()" id="selectedDate" aria-label="Default select example">
                <option value="0">Search By Timesheetperiod</option>
                @{
                    int month = 1;
                    int year = DateTime.Now.Year;

                }
                @for (month = 1; month <= 12; month++)
                {

                    @if (month < DateTime.Now.Month)
                    {
                        string startdate1 = new DateTime(year, month, 1).Date.ToString("yyyy/MM/dd");
                        string enddate1 = new DateTime(year, month, 15).Date.ToString("yyyy/MM/dd");

                        <option value="@startdate1">@startdate1 - @enddate1</option>

                        string startdate2 = new DateTime(year, month, 16).Date.ToString("yyyy/MM/dd");
                        string enddate2 = new DateTime(year, month, 1).AddMonths(1).AddDays(-1).Date.ToString("yyyy/MM/dd");
                        <option value="@startdate2">@startdate2 - @enddate2</option>
                    }
                }
            </select>
            <button class="btn btn-outline-info" id="btnoffinalize" onclick="openTimesheet()">Finalize Timesheet</button>
          
 
        </div>
    </div>
            <div class="container  w-75" id="timssheet">
            </div>
            
            <div class="container px-0 w-75" id="timssheetdata">
            </div>

    <div class="container px-0 w-75 pt-3" id="reimbursement">

            </div>

    <div class="container px-0 w-75" id="addReciept">
    </div>


</div>
<script>

    function LoadPageData() {
        LoadTimeSheet()
        LoadReimbursement();

    }




    //onchange
    function LoadTimeSheet(){
        var date = $("#selectedDate").val();

        if (date != "0") { 
            $.ajax({
                type : 'GET',
                url : '/ProviderDashBoard/GetTimeSheetData',
                data: { date: date },
                success: function (response) { 
                debugger
                    $("#timssheetdata").html(response);

                    var finalizeValue = $(".FinalizeValue").val();

                    if (finalizeValue == "true") {
                        $("#btnoffinalize").hide();
                    }
                    else {
                        $("#btnoffinalize").show();
                    }
                

                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }
    }

    

    function LoadReimbursement() {
        var date = $("#selectedDate").val();

        if (date != "0") {
            $.ajax({
                type: 'GET',
                url: '/ProviderDashBoard/GetReimbursementData',
                data: { date: date },
                success: function (response) {
                    debugger
                    $("#reimbursement").html(response);

                    // var finalizeValue = $(".FinalizeValue").val();

                    // if (finalizeValue == "true") {
                    //     $("#btnoffinalize").hide();
                    // }
                    // else {
                    //     $("#btnoffinalize").show();
                    // }


                },
                error: function (response) {
                    alert("LoadReimbursement");
                }
            });
        }
    }


    function openTimesheet() {

        var date = $("#selectedDate").val();

        if (date != "0") {
            $.ajax({
                type: 'GET',
                url: '/ProviderDashBoard/OpenSheet',
                data: { date: date },
                success: function (response) {

                    $("#timssheet").html(response);
                    $("#TopDiv").hide();
                    $("#text").css('visibility', 'hidden');
                    $('#timssheetdata').hide();
                    $('#reimbursement').hide();

                },
                error: function (data) {
                    alert(data);
                }
            });
        } else {
            alert("please select the date");
        }
    }
</script>





