@model DAL.ViewModels.Patient
@{
    ViewData["Title"] = "Patient_Request";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloDoc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Patient_Request.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- -----------------back button-------------------------- -->
            <div class="bg-body-secondary" style="background-color:#E9ECEF">
                <div class="d-flex justify-content-end back">
                    <a asp-action="Patient_submit_request" class="btn btn-outline-info text-center p-2 btn-p">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-chevron-left"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                        <span> back</span>
                    </a>
                </div>
                <!-- -----------------back button-------------------------- -->
            </div>

            <!-- -----------------form-------------------------- -->

            <div class="container-fluid" style="background-color:#E9ECEF">
                <div class="container bg-white ps-3 shadow-lg">
                    <h4 class="pt-3 mb-4">Patient Information</h4>

                    <form asp-controller="Request" asp-action="Patient_Request" method="post" id="emailForm">

                        <div class="row">
                            <div class="col col-12 mb-3">
                                <div class="form-floating">
                                    <textarea class="form-control"
                                              placeholder="Leave a comment here"
                                              id="floatingTextarea2"
                                              style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Enter Brief Details Of Symptoms(optional)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 col-sm-6">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           asp-for="FirstName"
                                           class="form-control"
                                           id="floatingInput"
                                           placeholder="name@example.com" />
                                    <label for="floatingInput">First Name</label>
                                </div>
                            </div>
                            <div class="col col-12 col-sm-6 mb-3">
                                <div class="form-floating">
                                    <input type="text"
                                           asp-for="LastName"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">Last Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating">
                                    <input type="date"
                                           asp-for="BirthDate"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">Date Of Birth</label>
                                </div>
                            </div>
                        </div>

                        <h4 class="pt-3 mt-4 mb-4">Patient Contact Information</h4>

                        <div class="row">
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="email" id="email"
                                           asp-for="Email"
                                           class="form-control"
                                           id="floatingInput"
                    
                                           placeholder="name@example.com" />
                                    <label for="floatingInput">Email</label>
                                </div>
                            </div>
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="tel"
                                           asp-for="PhoneNumber"
                                           class="form-control"
                                           id="floatingInput"
                                           placeholder="name@example.com" />
                                    <label for="floatingInput">Mobile No</label>
                                </div>
                            </div>

                        </div>
                        <div class="row" id="passwordFields" style="display:none">
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="password" id="password"
                                           asp-for="PasswordHash"
                                           class="form-control"
                                           id="floatingInput"
                                           placeholder="name@example.com" />
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="password" id="confirmPassword"
                                           asp-for="Confirmpassword"
                                           class="form-control"
                                           id="floatingInput"
                                           placeholder="name@example.com" />
                                    <label for="floatingInput">Confirm Password</label>
                                </div>
                            </div>
                        </div>

                        <h4 class="pt-3 mt-4 mb-4">Patient Location</h4>

                        <div class="row">
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           asp-for="Street"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">Street</label>
                                </div>
                            </div>
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           asp-for="City"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">City</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           asp-for="State"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">State</label>
                                </div>
                            </div>
                            <div class="col col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           asp-for="ZipCode"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">Zip Code</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col col-sm-6 col-12">
                                <div class="form-floating">
                                    <input type="text"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">Room #/suite(optional)</label>
                                </div>
                            </div>
                        </div>


                        <h4 class="pt-3 mt-4 mb-4">(optional) Upload Photo or Document</h4>

                        @* -------------------------------------------------------------- *@
                        <div class="input-group row p-2 mx-auto mt-3" style="height:75px">
                            <button class="btn col-10 text-start ps-3 bg-light"
                                    id="file-btn"
                                    onclick="uploadfile()">
                                Select File
                            </button>

                            <input type="file"
                                   class="form-control"
                                   id="hide-btn"
                                   aria-describedby="inputGroupFileAddon04"
                                   aria-label="Upload"
                                   hidden />
                            <button class="btn col-2 bg-info text-light px-0"
                                    type="button"
                                    id="inputGroupFileAddon04">
                                <svg xmlns="http://www.w3.org/2000/svg class="img-fluid"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     class="bi bi-cloud-arrow-up"
                                     viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                </svg>
                                <span class="ms-1" id="UploadSpan">Upload</span>
                            </button>
                        </div>
                        @* -------------------------------------------------------------- *@

                        <div class="row mb-3 pb-3">
                            <div class="d-grid gap-2 d-flex justify-content-end mt-4">
                                <button class="btn btn-info me-md-2 text-white" type="submit" id="submitBtn">Submit</button>
                                <button class="btn btn-outline-info" type="button">Cancle</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    @section scripts {
        <!-- jQuery script -->
        <script src="~/lib/jquery/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#email').on('input', function () {
                    var email = $(this).val();
                    $.ajax({
                        url: '/Request/CheckEmail',
                        type: 'POST',
                        data: { email: email },
                        success: function (data) {
                            if (!data.exists) {
                                $('#passwordFields').show();
                            } else {
                                $('#passwordFields').hide();

                            }
                        }
                    });
                });
                // ----------------------------------------------
                $('#submitBtn').click(function () {
                    var email = $('#email').val();
                    var password = $('#password').val();
                    var confirmPassword = $('#confirmPassword').val();

                    if (password !== confirmPassword) {
                        alert('Passwords do not match!');
                        return;
                    }
                });

                // ----------------------------------------------
            });

            // ------------------------
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Patient_request.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
