html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
a{
    text-decoration: none !important;
   
}
body {
  margin-bottom: 60px;
}

.table {
    --bs-table-color: none !important;
}

[data-bs-theme = "light"] .nav-link:not(.active) {
    color: #000 !important; /* Black color for inactive links */
    text-decoration: none; /* Remove underline for inactive links */
}
[data-bs-theme = "light"] .white-bag
{
    background-color:#fff !important;
}
[data-bs-theme = "dark"] .white-bag {
    background-color: #212529;
}
[data-bs-theme = "dark"] .filter {
    color: #fff;
}

[data-bs-theme = "dark"] .status:not(.active) .text {
   color:black;
}

[data-bs-theme = "dark"] .triangle {
    color: transparent !important;
}
[data-bs-theme = "dark"] .nav-link:not(.active) {
    color: #fff !important; /* Black color for inactive links */
     /* Remove underline for inactive links */
}
[data-bs-theme = "light"] .color {
    background-color: #E9ECEF;
}

.dropdown-item:hover {
    background-color: #0dcaf0;
    color: #0dcaf0;
    opacity: 0.8;
}


#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 6px #ddd solid;
    border-top: 6px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}
